<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Color App</title>
    <style>
        body {
            background-color: {{ couleur_fond }};
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <h1>Application Flask avec Couleur</h1>
    <p>Changez la couleur en définissant la variable d'environnement COULEUR_FOND.</p>
</body>
</html>

